# =====================
# docker compose 用
# =====================

# ===== DB =====
MYSQL_HOST=db
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=media_server
MYSQL_USER=user
MYSQL_PASSWORD=password
